<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualiza Energéticos</title>
</head>
<body>
    <h1>Atualiza o sabor de {{ energetico.sabor }}</h1>
    <form method="POST">
        <label for="novo_sabor">Novo sabor</label>
        <input type="text" name="novo_sabor" value="{{ energetico.sabor }}"><br>
        <input type="submit" value="Atualizar">
    </form>
</body>
</html>