<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Atualiza Energéticos</title>
</head>

<body>
    <div class="card__listar">
        <div class='lista'>
            <h1>Atualiza o sabor de {{ energetico.marca }}: {{ energetico.nome}} - {{energetico.sabor}}</h1>
            <form method="POST">
                <label for="novo_nome">Atualizar nome:</label>
                <input type="text" name="novo_nome" value="{{ energetico.nome }}"><br>
                <label for="novo_sabor">Atualizar sabor:</label>
                <input type="text" name="novo_sabor" value="{{ energetico.sabor }}"><br>
                <input type="submit" value="Atualizar">
            </form>
        </div>
    </div>
</body>

</html>