<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Document</title>
</head>

<body>
    <div class="card__listar">
        <div class='lista'>
            <h1>Energeticos</h1>
            <ul>
                {% for energetico in energeticos %}
                <li>{{ energetico.marca }}:{{ energetico.nome}} - {{energetico.sabor}} ( {{ energetico.tamanho_lata }}ml
                    [R${{energetico.preco}}])</li>
                <a href="/excluir/{{ energetico.id }}">excluir</a>
                <a href="/atualizar/{{ energetico.id }}">Atualizar</a>
                <br>
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card__inserir">
        <div class='lista'>
            <h2>Inserir Energetico</h2>
            <form method="POST" action="/inserir">
                <div class="input-group">
                    <div class="input-box">
                        <label for="marca">Marca:</label>
                        <input type="text" name="marca"><br>
                        <label for="nome">Nome: </label>
                        <input type="text" name="nome"><br>
                        <label for="sabor">Sabor:</label>
                        <input type="text" name="sabor"><br>
                        <label for="tamanho_lata">Tamanho da lata:</label>
                        <input type="number" name="tamanho_lata"><br>
                        <label for="preco">Preço:</label>
                        <input type="number" name="preco"><br>
                        <input type="submit" value="Inserir">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card__buscar">
        <div class='lista'>
            <h2>Listar pela marca</h2>
            <form method="POST" action="/listar">
                <label for="marca">marca</label>
                <input type="text" name="marca"><br>
                <input type="submit" value="Buscar">
            </form>
        </div>
    </div>
</body>

</html>
